<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entretenimento</title>
</head>
<body>
    <!--Cabeçalho ou Início do meu site-->
    <header style="display: flex;">
        <!--Section Foto de perfil-->
        <section>
            <img src="guts berserk.jpg" alt="guts" height="130px" width="130">
        </section>
        <!--Section Informações Pessoais-->
        <section>
            <br> <br> <br>
            &nbsp; &nbsp; Lucas &nbsp;|&nbsp; 18 &nbsp;|&nbsp; Lusket.zp &nbsp;|&nbsp; XXXXXXXX &nbsp;|&nbsp; Aries
        </section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        <hr>
        <a href="mySite.html">Eu eu mesmo</a>
        <a href="entretenimento.html">Entretenimento</a>
        <a href="musica.html">Musicas</a>
        <a href="contato.html">Fale comigo</a>
        <hr>
    </nav>

    <!--Seção de entretenimento-->
    <article>
        <h2>Higanbana</h2>
        <h4>A flor que simboliza dor e saudades</h4>
        <p>
            <img src="images (1).jfif" alt="Higanbana" height="160px" width="250">
        </p>
        <p>
            <strong>Higanbana (Lycoris radiata) é o nome japonês da Lírio-aranha, uma bela flor, <br>
                 Embora venenosa, considerada símbolo do Equinócio do Outono no Japão. <br>
                 O nome se origina da palavra Ohigan (お彼岸), uma celebração budista <br> Que ocorre
                  duas vezes por ano e são feriados no Japão: Equinócio da Primavera 
                  <br> (春分の日 Shunbun no Hi) em março e Equinócio de Outono (秋分の日 Shūbun no Hi)
                   em setembro. <br> <br>

                É tradicionalmente associado com a morte na sociedade japonesa,
                 por estar muito presente nos cemitérios, <br> Que segundo dizem, 
                 foi plantada para manter os animais escavadores longe dos restos mortais. <br>
                  Uma característica interessante dessa exótica flor é que as folhas e a flor 
                  nunca aparecem ao mesmo tempo.
                </strong>
        </p>
        <p>
        para conhecer mais <a href="">clique aqui</a>
        </p>
    </article>
    <hr>

    <article>
        <h1>Hellsing</h1>
        <h4>Herushingu</h4>
        <p>
            <img src="helssing.jfif" alt="Vampiro" height="160px" width="250">
        <p>
            <strong>
                é uma série de mangá escrita e ilustrada por Kouta Hirano. <br>
                 O primeiro capítulo foi lançado em 1997 na revista Young King Ours e o último em
                  setembro de 2008. <br> Os capítulos individuais foram compilados em um total de 10 
                  volumes tankōbon e publicados <br> Pela editora Shōnen Gahosha, tendo o último volume
                   lançado em 27 de março de 2009. <br> O mangá acompanha as atividades misteriosas
                    e secretas da Organização Hellsing, <br> a organização é especializada em combater 
                    vampiros, <br> ghouls e outros inimigos sobrenaturais que ameaçam a Inglaterra.
                    <br> <br>

                </strong>
        </p>
        </p>
        para conhecer mais <a href="">clique aqui</a>
        </p>
    </article>
    <hr>

    <article>
        <h2>Tsar</h2>
        <h4>Bomba</h4>
        <p>
            <img src="tsar.jfif" alt="Higanbana" height="160px" width="250">
        </p>
        <p>
            <strong>
                foi uma bomba aérea termonuclear, considerada a mais potente arma nuclear já detonada. <br> Desenvolvida pela União Soviética, 
                a bomba de 58 megatons (equivalente a 58 milhões de toneladas de TNT, <br> sendo duas vezes mais potente que o segundo maior teste nuclear 
                chamado de Teste 219 que rendeu 24,2 Mt) <br> levava o nome-código de "Ivan", (em russo: Иван), dado pelos seus desenvolvedores. <br> [1] A bomba
                 foi testada em 30 de Outubro de 1961, em Nova Zembla, uma ilha no oceano Ártico. <br> Teve uma redução de 50 megatons do seu desenho original para
                  minimizar a escala de destruição. <br> [2][3][4][5] Devido ao seu enorme tamanho a bomba não era prática para propósitos de guerra, e foi criada <br>
                   primariamente para ser usada como propaganda na Guerra Fria. <br> Não há evidências de que outra bomba de poder similar tenha sido feita.
            </strong>
        </p>
        <p>
        para conhecer mais <a href="">clique aqui</a>
        </p>
    </article>
    <hr>

    <article>
        <h2>Five Nights at Freddy's</h2>
        <h4>FNAF</h4>
        <p>
            <img src="five_nights_at_freddys_xxlg.jpg" alt="FNAF" height="160px" width="250">
        </p>
        <p>
            <strong>
                Five Nights at Freddy's (FNaF) é uma franquia de mídia norte americana criada por Scott Cawthon. <br> O primeiro jogo com o mesmo nome foi lançado
                 em 8 de agosto de 2014, <br> depois de seu lançamento a série se tornou um sucesso mundial.
A série original consiste em 9 jogos, <br> sendo o lugar principal a pizzaria fictícia de uma franquia chamada "Freddy Fazbear's Pizza", <br> com o seu mascote 
principal, o urso animatrônico Freddy Fazbear. <br> Na maioria dos jogos, o jogador aceita o emprego de guarda noturno, onde deve checar as câmeras de segurança, <br> 
luzes e portas para se defender de assustadores personagens animatrônicos que habitam a pizzaria. <br> A historia da série é gradualmente revelada por meio
 de gravações de voz, mini jogos e Easter eggs. <br>
A franquia também inclui jogos spin-off e outras mídias, como um novo filme em produção e uma série antológica, <br> complementando um universo ficcional 
abrangente. A franquia mantém uma base de fãs ativa, <br> conhecida por sua produção de fan art e fangames, 
e produtos para os jogos estão disponíveis internacionalmente.
            </strong>
        </p>
        <p>
        para conhecer mais <a href="">clique aqui</a>
        </p>
    </article>
    <hr>

</body>
</html>