<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
</head>
<body>
    <!--Cabeçalho ou Início do meu site-->
    <header style="display: flex;">
        <!--Section Foto de perfil-->
        <section>
            <img src="guts berserk.jpg" alt="guts" height="130px" width="130">
        </section>
        <!--Section Informações Pessoais-->
        <section>
            <br> <br> <br>
            &nbsp; &nbsp; Lucas &nbsp;|&nbsp; 18 &nbsp;|&nbsp; Lusket.zp &nbsp;|&nbsp; XXXXXXXX &nbsp;|&nbsp; Aries
        </section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        <hr>
        <a href="mySite.html">Eu eu mesmo</a>
        <a href="entretenimento.html">Entretenimento</a>
        <a href="musica.html">Musicas</a>
        <a href="contato.html">Fale comigo</a>
        <hr>
    </nav>
    <!--Estrutura principal do site-->
    <main>
        <h1>Conheça um pouco do meu mundo</h1>
        <p>
            Meu nome e Lucas <br>
            
        </p>
        <ul>
            <li>
                Tenho um periquito
                <ul>
                    <li> = amendoin</li>
                </ul>
            </li>
            <li>Gosto de jogos</li>
            <li>Adoro musica</li>
            <li>Não acredito em signos</li>
        </ul>
    </main>
</body>
</html>